.main-content {
    padding: 35px;
    color: #D3D3D3;
    border-radius: 10px;
    font-weight: 500;
    background: #222;
    box-shadow: 1px 0px 10px #111;
    margin-top: 90px;
    transition: transform 0.3s ease-in-out;

}

.main-content:hover {
  transform: scale(1.03, 1.03);
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 20%;
}

.middle {
  width: 40%;
}

.topic-heading {
    text-align: center;
}