/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background: rgb(82, 172, 221);
  background: linear-gradient(
    90deg,
    rgba(82, 172, 221, 1) 0%,
    rgba(179, 76, 234, 1) 100%
  );
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  
}

.sidebar.sidebar-transitions li.search-box {
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background: rgb(82, 172, 221);
  background: linear-gradient(
    90deg,
    rgba(82, 172, 221, 1) 0%,
    rgba(179, 76, 234, 1) 100%
  );
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text {
  color: var(--text-color);
}

/* Pricing Plans */

.pricing-plan {
  width: 300px;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
  color: #d3d3d3;
  margin: 15px;
}

.pricing-plan__special-text {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background: #555;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
}

.pricing-plan__header {
  padding: 25px;
  background: #333;
  color: #d3d3d3;
}

.pricing-plan__title .pricing-plan__summary {
  margin: 0;
  text-align: center;
}

.pricing-plan__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.pricing-plan__summary {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.pricing-plan__description {
  padding: 25px;
  background: #444;
  color: #d3d3d3;
}

.pricing-plan__list {
  padding: 0;
  margin: 0;
}

.pricing-plan__feature {
  list-style: none;
  margin: 0;
  padding-left: 25px;
  position: relative;
  font-size: 0.9rem;
}

.pricing-plan__feature:not(:last-child) {
  margin-bottom: 0.5rem;
}

.pricing-plan__feature::before {
  content: "\2714";
  color: #009945;
  position: absolute;
  left: 0;
}

.pricing-plan__actions {
  padding: 25px;
  border-top: 3px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  background: #444;
}

.pricing-plan__button {
  display: inline-block;
  margin: 15px auto;
  padding: 8px 20px;
  text-decoration: none;
  color: #777;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #777;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.pricing-plan__button:hover {
  background: #999;
  color: #ffffff;
  transition: ease all 0.3s;
  transform: scale(1.5, 1.5);
}

.pricing-plan__cost {
  margin: 0;
  text-align: center;
  font-size: 2em;
  color: #d3d3d3;
}

.pricing-plan__text {
  font-size: 0.9em;
  text-align: center;
  margin: 0 0 10px 0;
  color: #d3d3d3;
  font-weight: 400;
}

.pricing-plan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* FAQ */

.main-content {
  padding: 35px;
  color: #222;
  border-radius: 10px;
  font-weight: 500;
  background: #d3d3d3;
  box-shadow: 1px 0px 10px #111;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
  font-size: medium;
}

body.dark .main-content {
    background: #222;
    color: #d3d3d3;
    transition: var(--tran-05);
}

.main-content:hover {
  transform: scale(1.03, 1.03);
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.middle {
  width: 50%;
}

.topic-heading {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

::-webkit-scrollbar-button {
  height: 20px; /* vertical scrollbar height */
}

.dropbtn {
  background: rgb(82, 172, 221);
  background: linear-gradient(
    270deg,
    rgba(82, 172, 221, 1) 0%,
    rgba(179, 76, 234, 1) 100%
  );
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  font-weight: 400;
}

.dropbtn.closed {
  border-radius: 15px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 0px 15px 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #d3d3d3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
background-color: #333;
border-radius: 15px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}